Django~=5.2
django-environ~=0.12.0
django-stubs~=5.2.9
django-stubs-ext~=5.2.9
django-cors-headers~=4.9.0
django-ninja
psycopg~=3.1
selenium
jsonpickle~=4.1.1
django-allauth[socialaccount]~=65.15.0
django-allauth[headless]~=65.15.0